* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  width: 100%;
  overflow: hidden;
  animation: bg 10s infinite ease-in;
}
@keyframes bg {
  form {
    background-color: aquamarine;
    color: black;
  }
  to {
    background-color: rgb(167, 244, 100);
    color: darkblue;
  }
}
.container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
.form {
  width: 80%;
  display: flex;
  margin: 10px auto;
}
.form:after {
  content: "";
  clear: both;
  display: flex;
}
.form input,
.form button {
  height: 35px;
  border-radius: 3px;
  float: right;
  margin: 0px 10px;
}
.form input {
  width: 80%;
  padding-left: 20px;
  font-size: 16px;
  float: left;
  border: 1px solid rgba(123, 123, 123, 0.3);
}
.form button {
  width: 20%;
  color: white;
  background-color: black;
  float: right;
}
ul {
  width: 70%;
  margin: 20px auto;
  list-style-type: none;
}
ul li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 0 5px 10px 1px rgb(191, 190, 190);
  border: 1px solid #545252;
  border-radius: 3px;
}
ul li a {
  float: right;
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: cursive;
}
